<footer>
    <div class="footer__content">
        Email: <a href="mailto:anton.shkurdov@vrpconsulting.com">anton.shkurdov@vrpconsulting.com</a>
    </div>
    <script src="/js/lazyload.min.js"></script>

    <script>

        var lazyLoadInstance = new LazyLoad({
            // Your custom settings go here
        });

    </script>
</footer>