<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/header.ejs') %>
  <main>
    <h1>Username already exists</h1>
    <div>
        Please, try again
    </div>
    <br>
    <div>
        <a class="link" href="/registration">register</a>
        <br>
        or
        <br>
        <a class="link" href="/login">login</a>
    </div>
    <br>
  </main> 
  <%- include('./partials/footer.ejs') %>
</body>
</html>