body {
  padding-top: 110px;
  min-height: calc(100vh - 100px);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background: linear-gradient(to bottom, #00d2ff, #928dab);
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

main {
  flex: 1;
}

h1 {
  text-transform: uppercase;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
  margin: 0;
  display: flex;
}

nav a {
  min-height: 60px;
  display: block;
  padding: 10px 20px;
  line-height: 60px;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

article {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
}

.info {
  display: flex;
  justify-content: space-between;
}

.post .info {
  justify-content: flex-start;
  gap: 50px;
}

.posts__content-wrap {
  display: flex;
  flex-wrap: wrap;
}

.posts__img-wrap {
  max-width: 300px;

  @media only screen and (max-width: 991.98px) {
    width: 100%;
    max-width: 100%;
  }
}

.posts__img-wrap img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.posts__info-wrap {
  padding-left: 30px;
  flex: 1;

  @media only screen and (max-width: 991.98px) {
    width: 100%;
    padding-left: 0;
  }
}

.posts__info-wrap p{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__img-wrap {
  max-width: 500px;
}

.post__img-wrap img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;

  @media only screen and (max-width: 991.98px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

h2 a {
  color: aqua;
}

form {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 20px;
  display: flex;
}

form div label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-info {
  justify-content: space-between;
  gap: 20px;
}

input,
textarea {
  min-height: 30px;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 18px;
  padding: 3px 5px;
  outline: none;
}

textarea {
  resize: none;
  min-height: 150px;
}

.form-file label{
  flex: none;
}

.form-file input {
  background: unset;
  border: none;
  padding: 3px 0;
}

.form-button {
  display: flex;
  justify-content: flex-end;
}

.form-button input {
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
}

.form-button input:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.home,
.error {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background: linear-gradient(to bottom, #00d2ff, #928dab);
  color: #fff;
  padding-top: 0;
}

.error h1 {
  margin-top: 0;
}

.contacts li {
  list-style-type: circle;
  padding-left: 20px;
  list-style-position: inside;
}

.error-code {
  text-transform: uppercase;
  font-size: 160px;
  margin-bottom: 20px;
}

.btn-edit,
.btn-delete {
  position: absolute;
  top: 10px;
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 48px;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn-edit,
.btn-delete:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-edit {
  right: 65px;
}

.btn-delete {
  right: 10px;
}

footer {
  padding:25px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: -8px;
  margin-right: -8px;
}

footer .footer__content, footer .footer__content a {
  font-size: 12px;
}

.link {
  color: aqua;
}

.authInfo {
  text-align: right;
}

.authInfo__wrap {
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
}

.authInfo a {
  font-size: 12px;
}

/*css for loader*/

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

dialog {
  background: none;
  border: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.spinner-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
